# Editor configuration, see https://editorconfig.org
root = true

[*.{java,properties,xml}]
charset = utf-8
indent_style = tab
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_style = space
trim_trailing_whitespace = true

[*.yml]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
