<?xml version="1.0" encoding="utf-8"?>
<manifest
	android:versionCode="5"
	android:versionName="git"
	package="io.github.sspanak.tt9"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-configuration android:reqFiveWayNav="true" android:reqHardKeyboard="true" android:reqKeyboardType="qwerty"/>
	<uses-configuration android:reqFiveWayNav="true" android:reqHardKeyboard="true" android:reqKeyboardType="twelvekey"/>

	<application
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat.DayNight">

		<service android:name="io.github.sspanak.tt9.ime.TraditionalT9" android:permission="android.permission.BIND_INPUT_METHOD"
			android:exported="true">
			<intent-filter>
				<action android:name="android.view.InputMethod"/>
			</intent-filter>
			<meta-data android:name="android.view.im" android:resource="@xml/method"/>
		</service>

		<activity android:label="@string/app_settings" android:name="io.github.sspanak.tt9.preferences.PreferencesActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>

		<activity
			android:excludeFromRecents="true"
			android:label="@string/add_word_title"
			android:name="io.github.sspanak.tt9.ui.AddWordAct"
			android:theme="@style/Theme.AppCompat.DayNight.Dialog"/>
	</application>
</manifest>
