name: Build the Project

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # setup
    - name: Checkout project sources
      uses: actions/checkout@v4
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v3

    # validate and build
    - name: Generate Documents
      run: ./gradlew generateDocs
    - name: Validate Dictionaries
      run: ./gradlew validateLanguages
    - name: Build Languages
      run: ./gradlew buildDefinition buildDictionaryDownloads
    - name: Copy Downloads
      run: ./gradlew copyDownloadsToAssets
    - name: Lint
      run: ./gradlew lint # this actually runs mergeResources, so it must come after the dictionary tasks
    - name: Build 'Lite' and 'Full' APK variants
      run: ./gradlew assembleLiteRelease assembleFullRelease
